# Ignore build & dist folders
/build/
/dist/

# Ignore IDE files
*.log
*.class
*.iml
.DS_Store

# NetBeans
nbproject/private/
build/
# Ignore real config & constants (secret)
src/java/config_temp/config.properties
src/java/constant/Iconstant.java
src/java/config_temp/Config.java
src/java/config_temp/
src/java/config/    

#file private & xml,...
nbproject/build-impl.xml
nbproject/genfiles.properties
nbproject/private/private.properties
nbproject/private/private.xml
nbproject/build-impl.xml~

# Ignore uploaded files
/UploadData/
