# Ignore build & dist folders
/build/
/dist/

# Ignore IDE files
*.log
*.class
*.iml
.DS_Store

# NetBeans
nbproject/private/
build/
# Ignore real config & constants (secret)
src/java/config/config.properties
src/java/constant/Iconstant.java
