/*
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/JSP_Servlet/CascadeStyleSheet.css to edit this template
*/
/* 
    Created on : Sep 18, 2025, 10:30:11 PM
    Author     : nqagh
*/
body {
    background-color: #f8f9fa;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.right-panel{

    font-family: 'Arial', sans-serif;
    background: #ffffff;
    border-radius: 12px;
    box-shadow: 0px 6px 20px rgba(0,0,0,0.15);
    border: 1px solid #00a8cc; /* viền xanh biển nhạt */
    min-height: 100vh;
    width: 100%;
    padding: 20px;

}

.img-regis img {
    width: 100%;
    height: auto;
    display: block;
    object-fit: cover; /*  ảnh vừa khung mà không méo */

}
.register-header{
    text-align: center;
}

.logo h1{
      color: #0077be;
            font-size: 55px;
            font-weight: bold;
             text-shadow: 2px 2px 4px rgba(0, 119, 190, 0.1);
}
.logo p{
      color: #00a8cc;
            font-size: 23px;
            font-weight: 200;
            margin-left:30px;
}

.register-container{
    background: #e6f7ff;
    border-radius: 15px;
    box-shadow: 0 20px 40px rgba(0, 119, 190, 0.3);
    align-content: center;
    height: 760px;
    text-align: center;
    margin-top: 50px;

}

.register-container input ,
register-container.form-group{
    margin-bottom: 20px;
    padding: 10px;
    width: 300px;
    height: 45px;
     font-size: 13px;
    border: 1px solid #00a8cc;  /* viền xanh biển */
    border-radius: 5px;

}
.register-container input:last-of-type {
    margin-bottom: 8px; /* ô cuối cùng ít khoảng cách hơn */
}
.register-container input::placeholder {
    font-size: 12px;
    color:  #888;
    font-style: italic;
}
.check_box{

    display: flex;
    align-items: center;
    margin-top: 1px;
    gap: 10px;
    justify-content: center;

}
.check_box input[type="checkbox"] {
  width: 16px;
  height: 16px;
  cursor: pointer;
}
.check_box label {
    color: #666;
    font-size: 14px;
  font-size: 13px;
    cursor: pointer;
}
input:focus {
    border: 2px solid #00a8cc;  /* viền xanh khi focus */
    outline: none;              /* bỏ viền mặc định của trình duyệt */
    box-shadow: 0 0 1px rgba(0,168,204,0.5); /* đổ bóng nhẹ */
}
.register-btn{
 width: 140px;
  background: linear-gradient(135deg, #0077be, #00a8cc);
            color: white;
            padding: 10px;
            border: none;
            border-radius: 12px;
            font-size: 14px;
            height: 40px;
            font-weight: bold;
            cursor: pointer;
            margin: 15px 0px;
}
.login-link{
    margin-top: 15px;
    
}
.btn-home{
    margin-left: 320px;
   font-size: 20px;
}