<?xml version="1.0" encoding="UTF-8"?>
<web-app version="6.0" xmlns="https://jakarta.ee/xml/ns/jakartaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd">
    <welcome-file-list>
        <welcome-file>/SearchIslandController</welcome-file>
    </welcome-file-list>
    <servlet>
        <servlet-name>SearchIslandController</servlet-name>
        <servlet-class>controller.home.SearchIslandController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>HotelsController</servlet-name>
        <servlet-class>controller.services.HotelsController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>IslandDetailController</servlet-name>
        <servlet-class>controller.home.IslandDetailController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>TourDetailController</servlet-name>
        <servlet-class>controller.services.TourDetailController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>BookingController</servlet-name>
        <servlet-class>controller.booking.BookingController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CreateCustomTourController</servlet-name>
        <servlet-class>controller.services.CreateCustomTourController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>BookingCustomTourController</servlet-name>
        <servlet-class>controller.booking.BookingCustomTourController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>FlightSearchController</servlet-name>
        <servlet-class>controller.home.FlightSearchController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CustomTourDetailController</servlet-name>
        <servlet-class>controller.services.CustomTourDetailController</servlet-class>
    </servlet>
 
    <servlet-mapping>
        <servlet-name>SearchIslandController</servlet-name>
        <url-pattern>/SearchIslandController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>HotelsController</servlet-name>
        <url-pattern>/HotelsController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>IslandDetailController</servlet-name>
        <url-pattern>/IslandDetailController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>TourDetailController</servlet-name>
        <url-pattern>/TourDetailController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>BookingController</servlet-name>
        <url-pattern>/BookingController</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>ajaxServlet</servlet-name>
        <servlet-class>com.vnpay.common.ajaxServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ajaxServlet</servlet-name>
        <url-pattern>/PaymentController</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>VnpayReturn</servlet-name>
        <servlet-class>com.vnpay.common.VnpayReturn</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>VnpayReturn</servlet-name>
        <url-pattern>/VnpayReturn</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>CreateCustomTourController</servlet-name>
        <url-pattern>/CreateCustomTourController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>BookingCustomTourController</servlet-name>
        <url-pattern>/BookingCustomTourController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>FlightSearchController</servlet-name>
        <url-pattern>/FlightSearchController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CustomTourDetailController</servlet-name>
        <url-pattern>/CustomTourDetailController</url-pattern>
    </servlet-mapping>
</web-app>
